$vectorVt: red;
$vectorIajXs: green;
$vectorEf: purple;
$vectorIa: black;
$vectorIaRa: orange;
$vectorId: gray;
$vectorIq: aqua;
$vectorIajXd: gray;
$vectorIajJq: aqua;

mat-slider {
  width: 80%;
}

.ng-hide{
  display: none;
}

.ms{
  svg{
    border-style: solid;
    border-width: 2px;
    color: #f1f1f1;
  }
  .vectorVt{
    stroke: $vectorVt;
  }
  .vectorId{
    stroke: $vectorId;
    stroke-dasharray: 3,3;
  }
  .vectorIajXs{
    stroke: $vectorIajXs;
  }
  .vectorEf{
    stroke: $vectorEf;
  }
  .vectorIa{
    stroke: $vectorIa;
    stroke-dasharray: 3,3;
    stroke-width: 2;
  }
  .vectorIaRa{
    stroke: $vectorIaRa;
  }
  .vectorId{
    stroke: $vectorId;
    stroke-dasharray: 3,3;
    stroke-width: 2;
  }
  .vectorIq{
    stroke: $vectorIq;
    stroke-dasharray: 3,3;
    stroke-width: 2;
  }
  .vectorIajXd{
    stroke: $vectorIajXd;
  }
  .vectorIajXq{
    stroke: $vectorIajJq;
  }
  .colorVt{
    color: $vectorVt;
  }
  .colorId{
    color: $vectorId;
  }
  .colorIajXs{
    color: $vectorIajXs;
  }
  .colorEf{
    color: $vectorEf;
  }
  .colorIa{
    color: $vectorIa;
  }
  .colorIaRa{
    color: $vectorIaRa;
  }
  .colorId{
    color: $vectorId;
  }
  .colorIq{
    color: $vectorIq;
  }
  .colorIajXd{
    color: $vectorIajXd;
  }
  .colorIajXq{
    color: $vectorIajJq;
  }
}


#pl-diagram .vector{
  stroke-width: 1.5;
  marker-end: url(#arrow1);
}
#ps-diagram .vector{
  stroke-width: 1.5;
  marker-end: url(#arrow2);
}

#arrow path{
  fill: #f00;
}
