<div class="container-fluid ms">
  <div class="row">
      <div class="col-12">
        <h1>Maquina Sincrona</h1>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
        <h1>Diagrama de Polos Lisos</h1>
        <p>Considerando um circuito com Potência de Base Sb = 5000, e tensão de linha 120 V, temos o exemplo a seguir dado em pu. </p>

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ra (em pu)" type="number"
            [(ngModel)]="ra"
            (change)="updatePu()" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Xs (em pu)" type="number"
            [(ngModel)]="xs"
            (change)="updatePu()" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Fator de Potência" [(ngModel)]="fatPotString"
            (change)="changeFatPot()" [ngModelOptions]="{standalone: true}">
              <mat-option value="ind">Indutivo</mat-option>
              <mat-option value="cap">Capacitivo</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Máquina" [(ngModel)]="isMotorString"
            (change)="changeType()" [ngModelOptions]="{standalone: true}">
              <mat-option value="ger">Gerador</mat-option>
              <mat-option value="mot">Motor</mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <br><br>
        Mudar Fator de Potência
        <br>
        <mat-slider min="0" max="1" step="0.05" value="0.8"
        thumbLabel tickInterval="0.1"
        (change)="changeFp($event)"></mat-slider>
        <br>
        <b>Fator de Potência = {{fp0}}</b>
        <br><br>

        Mudar Ia (em pu)
        <br>
        <mat-slider min="0.5" max="1.5" step="0.01" value="1"
        thumbLabel tickInterval="50"
        (change)="changeIa($event)"></mat-slider>
        <br>
        <b>Ia = {{iaPu}} (pu)</b>
        <br><br>



        <svg id="pl-diagram">
            <defs>
                <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                  <path d="M0,0 L0,6 L9,3 z" />
                </marker>
            </defs>
        </svg>
        <p><span class="colorVt">■</span> - Vt = {{vt}} pu V<br>
          <span class="colorIaRa">■</span> - IaxRa = {{iara}} pu V<br>
          <span class="colorIajXs">■</span> - Ia*J*Xs = {{iajxs}} pu V<br>
          <span class="colorEf">■</span> - Ef = {{ef}} pu V<br>
          <span class="colorIa">■</span> - Ia = {{ia}} pu A<br>
          {{isMotor ? "Motor" : "Gerador"}} {{subexcitado ? "subexcitado" : "sobreexcitado"}} <br>
          Fator de Potência = {{fp0}}, {{fatPot ?  "Indutivo" : "Capacitivo"}} <br>

        </p>
      </div>
    </div>
</div>
