<div class="container-fluid ms">
  <div class="row">
      <div class="col-12">
        <h1>Maquina Sincrona</h1>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
        <h1>Diagrama Fasorial</h1>

        <form class="example-form">
          <mat-form-field>
            <mat-select placeholder="Fator de Potência" [(ngModel)]="fatPotString"
            (change)="changeFatPot()" [ngModelOptions]="{standalone: true}">
              <mat-option value="ind">Indutivo</mat-option>
              <mat-option value="cap">Capacitivo</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Máquina" [(ngModel)]="isMotorString"
            (change)="changeType()" [ngModelOptions]="{standalone: true}">
              <mat-option value="ger">Gerador</mat-option>
              <mat-option value="mot">Motor</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Tipo de Polos" [(ngModel)]="tiposPolos"
            [ngModelOptions]="{standalone: true}" value="lis">
              <mat-option value="lis">Lisos</mat-option>
              <mat-option value="sal">Salientes</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ra (em pu)" type="number"
            [(ngModel)]="ra" min="0" max="0.5" step="0.1"
            (change)="updatePu()" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="example-full-widt">
            <input matInput placeholder="Xs (em pu)" type="number"
            [(ngModel)]="xs"  min="0" max="2" step="0.1" [disabled]="'sal' == tiposPolos"
            (change)="updatePu()" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Xd (em pu)" type="number"
            [(ngModel)]="xd" min="0" max="2" step="0.1" [disabled]="'lis' == tiposPolos"
            (change)="updatePu()" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Xq (em pu)" type="number"
            [(ngModel)]="xq" min="0" max="2" step="0.1"  [disabled]="'lis' == tiposPolos"
            (change)="updatePu()" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

        </form>

        <br><br>
        Mudar Fator de Potência
        <br>
        <mat-slider min="0" max="1" step="0.05" value="0.9"
        thumbLabel tickInterval="0.1"
        (change)="changeFp($event)"></mat-slider>
        <br>
        <b>Fator de Potência = {{fp0}}</b>
        <br><br>

        Mudar Ia (em pu)
        <br>
        <mat-slider min="0.5" max="1.5" step="0.01" value="1"
        thumbLabel tickInterval="50"
        (change)="changeIa($event)"></mat-slider>
        <br>
        <b>Ia = {{iaPu}} (pu)</b>
        <br><br>
      <div class="row">
        <div class="{{'lis' == tiposPolos ? 'ng-show' : 'ng-hide'}}  col-6 col-md-6">
          <svg id="pl-diagram">
              <defs>
                  <marker id="arrow1" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                    <path d="M0,0 L0,6 L9,3 z" />
                  </marker>
              </defs>
          </svg>
        </div>
        <div class="{{'sal' == tiposPolos ? 'ng-show' : 'ng-hide'}}  col-6 col-md-6">
          <svg id="ps-diagram">
              <defs>
                  <marker id="arrow2" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                    <path d="M0,0 L0,6 L9,3 z" />
                  </marker>
              </defs>
          </svg>
        </div>

        <p class="{{'lis' == tiposPolos ? 'ng-show' : 'ng-hide'}} col-6 col-md-6">
          <b>Polos Lisos </b><br>
          <span class="colorVt">■</span> - V<sub>t</sub> = {{vt1}} pu V (linha contínua)<br>
          <span class="colorIaRa">■</span> - R<sub>a</sub>I<sub>a</sub> = {{iara}} pu V (linha contínua)<br>
          <span class="colorIajXs">■</span> - jX<sub>s</sub>I<sub>a</sub> = {{iajxs}} pu V (linha contínua)<br>
          <span class="colorEf">■</span> - E<sub>f</sub> = {{ef}} pu V (linha contínua)<br>
          <span class="colorIa">■</span> - I<sub>a</sub> = {{ia}} pu A (linha tracejada)<br>
          {{isMotor ? "Motor" : "Gerador"}} {{subexcitado ? "subexcitado" : "sobreexcitado"}} <br>
          Fator de Potência = {{fp0}}, {{fatPot ?  "Indutivo" : "Capacitivo"}} <br>
        </p>
        <p class="{{'sal' == tiposPolos ? 'ng-show' : 'ng-hide'}}  col-6 col-md-6">
          <b>Polos Salientes </b><br>
          <span class="colorVt">■</span> - V<sub>t</sub> = {{vt2}} pu (linha contínua)<br>
          <span class="colorIaRa">■</span> -  R<sub>a</sub>I<sub>a</sub> = {{iara2}} pu (linha contínua)<br>
          <span class="colorIajXd">■</span> - jX<sub>d</sub>I<sub>d</sub> = {{iajxd2}} pu (linha contínua)<br>
          <span class="colorIajXq">■</span> - jX<sub>q</sub>I<sub>q</sub> = {{iajxq2}} pu (linha contínua)<br>
          <span class="colorEf">■</span> - E<sub>f</sub> = {{ef2}} pu (linha contínua)<br>
          <span class="colorIa">■</span> - I<sub>a</sub> = {{ia2}} pu (linha tracejada)<br>
          <span class="colorIq">■</span> - I<sub>q</sub> = {{iq2}} pu (linha tracejada)<br>
          <span class="colorId">■</span> - I<sub>d</sub> = {{id2}} pu (linha tracejada)<br>
          {{isMotor ? "Motor" : "Gerador"}} {{subexcitado ? "subexcitado" : "sobreexcitado"}} <br>
          Fator de Potência = {{fp2}}, {{fatPot ?  "Indutivo" : "Capacitivo"}} <br>
        </p>
      </div>
      </div>
    </div>
</div>
