$vectorVt: red;
$vetorId: blue;
$vectorIajXs: green;
$vectorEf: purple;
$vectorIa: black;
$vectorIaRa: orange;
$vectorId: gray;
$vectorIq: brown;
$vectorIajXd: yellow;
$vectorIajJq: aqua;

mat-slider {
  width: 80%;
}

.ng-hide{
  display: none;
}

.ms{
  svg{
    background-color: #eee;
  }
  .vectorVt, .vectorVt #arrow path{
    stroke: $vectorVt;
    fill: $vectorVt;
  }
  .vetorId{
    stroke: $vetorId;
  }
  .vectorIajXs{
    stroke: $vectorIajXs;
  }
  .vectorEf{
    stroke: $vectorEf;
  }
  .vectorIa{
    stroke: $vectorIa;
  }
  .vectorIaRa{
    stroke: $vectorIaRa;
  }
  .vectorId{
    stroke: $vectorId;
  }
  .vectorIq{
    stroke: $vectorIq;
  }
  .vectorIajXd{
    stroke: $vectorIajXd;
  }
  .vectorIajJq{
    stroke: $vectorIajJq;
  }
  .colorVt{
    color: $vectorVt;
  }
  .colorId{
    color: $vetorId;
  }
  .colorIajXs{
    color: $vectorIajXs;
  }
  .colorEf{
    color: $vectorEf;
  }
  .colorIa{
    color: $vectorIa;
  }
  .colorIaRa{
    color: $vectorIaRa;
  }
  .colorId{
    stroke: $vectorId;
  }
  .colorIq{
    stroke: $vectorIq;
  }
  .colorIajXd{
    stroke: $vectorIajXd;
  }
  .colorIajJq{
    stroke: $vectorIajJq;
  }
}


.vector{
  stroke-width: 1.5;
  marker-end: url(#arrow);
  stroke: black;
}
#arrow{

}
#arrow path{
  fill: #f00;
}
