<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="jumbotron">
        <h2 class="display-4">Máquina de Corrente Continua</h2>
      </div>
    </div>

    <div class="col-12 col-md-12">
      <div class="jumbotron">
        <h2 class="display-5">Motor Imbricado</h2>
        <p class="lead">Exemplo de Enrolamento Imbricado</p>
        <hr class="my-4">
        <div>
          <svg class="diagrama" id="graph01"></svg>
        </div>
        <p>Legenda:
          <span class="legenda-1">■</span> - Circuito 1  |
          <span class="legenda-2">■</span> - Circuito 2  |
          <span class="legenda-3">■</span> - Circuito 3 |
          <span class="legenda-4">■</span> - Circuito 4 |
          <span class="legenda-n">■</span> - Circuito Inativo
        </p>
        <p class="lead">
        </p>
      </div>
    </div>

    <div class="col-12 col-md-12">
      <div class="jumbotron">
        <h2 class="display-5">Motor Ondulado</h2>
        <p class="lead">Exemplo de Enrolamento Imbricado</p>
        <hr class="my-4">
        <div>
          <svg class="diagrama" id="graph02"></svg>
        </div>
        <p>Legenda:
          <span class="legenda-1">■</span> - Circuito 1 |
          <span class="legenda-2">■</span> - Circuito 2 |
          <span class="legenda-n">■</span> - Circuito Inativo
        </p>
        <p class="lead">
        </p>
      </div>
    </div>
</div>
