$escova-cor1: #ffa1a7;
$escova-cor2: #b1a9ff;
$escova-cor3: #316b13;
$escova-cor4: #b1a9ff;
$circuito4: #ffa9c6;
$circuito2: #36a412;
$circuito3: #82e761;
$circuito1: #ff1100;
$circuiton: black;

.legenda-1 {
  color: $circuito1;
}
.legenda-2 {
  color: $circuito2;
}
.legenda-3 {
  color: $circuito3;
}
.legenda-4 {
  color: $circuito4;
}
.legenda-n {
  color: $circuiton;
}

.diagrama {
    height: 370px;
    width: 580px;

  text {
   font-size:20px;
   fill: black;
  }

  .enr {
    stroke: black;
    opacity: 0.6;
    stroke-width: 1.5;
    stroke-linecap: round;
  }
  .enr1 {}

  .enr2 {
    stroke-dasharray: 5 4;
  }

  .nucleo {
    stroke: #000000;
    stroke-width: 1.01;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
  }

  .nucleo1, .nucleo3 {
    fill: #ffffff;
  }

  .nucleo2, .nucleo4 {
    fill: #ffffff;
  }

  .escova-p1, .escova-p2, .escova-n1, .escova-n2, .p, .n{
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
  }
  .escova-p1 {
    fill: $escova-cor1;
  }
  .escova-n1 {
    fill: $escova-cor2;
  }
  .escova-p2 {
    fill: $escova-cor3;
  }
  .escova-n2 {
    fill: $escova-cor4;
  }

  .bar-color {
    stroke: #0033ff;
  }

  .bar-null {
    fill-opacity: 0.1;
    stroke: black;
  }

  .barramento, .suporte {
    stroke-width: 1.5;
    fill: #66aaff;
    stroke: black;
    opacity: 0.6;
    stroke-width: 1.5;
  }

  .circuito1 {
    stroke: $circuito1;
  }
  .circuito2 {
    stroke: $circuito2;
  }
  .circuito3 {
    stroke: $circuito3;
  }
  .circuito4 {
    stroke: $circuito4;
  }
  .circuiton {
    stroke: $circuiton;
  }

  .group {
    fill-opacity:0;
    stroke-opacity:0;
    stroke-width: 5;
  }
  .group:hover {
    fill-opacity:1;
    stroke-opacity:1;
    stroke-width: 2;
  }
}
