/* Footer content */

svg{
  background-color: #eee;
  height: 370px;
  width: 580px;
}

#graph01{
  svg > rect{
    stroke: red;
    stroke: 0033ff;
    stroke-width: 3;
  }

  .enr1{
    stroke: lightgreen;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 5 4;
  }

  .enr2{
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
  }

  .nucleo1, .nucleo3{
    fill: #ffa1a7;
    stroke: #000000;
    stroke-width: 1.01300001;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
  }

  .nucleo2, .nucleo4{
    fill: #b1a9ff;
    stroke: #000000;
    stroke-width: 1.01300001;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
  }

  .p{
    stroke: red;
    stroke-width: 3;
    stroke-linecap: round;
  }
  .n{
    stroke: red;
    stroke-width: 3;
    stroke-linecap: round;
  }
}
