<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <h1>Máquina de Corrente Continua</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="jumbotron">
        <h2 class="display-4">Motor Imbricado</h2>
        <p class="lead">Exemplo de Enrolamento Imbricado</p>
        <hr class="my-4">
        <div>
          <svg class="diagrama" id="graph01"></svg>
        </div>
        <p>Legenda:
          <span class="legenda-1">■</span> - Circuito 1 |
          <span class="legenda-2">■</span> - Circuito 2 |
          <span class="legenda-3">■</span> - Circuito Inativo
        </p>
        <p class="lead">
        </p>
      </div>
    </div>

    <div class="col-12 col-md-12">
      <div class="jumbotron">
        <h2 class="display-4">Motor Ondulado</h2>
        <p class="lead">Exemplo de Enrolamento Imbricado</p>
        <hr class="my-4">
        <div>
          <svg class="diagrama" id="graph02"></svg>
        </div>
        <p>Legenda:
          <span class="legenda-1">■</span> - Circuito 1 |
          <span class="legenda-2">■</span> - Circuito 2 |
          <span class="legenda-3">■</span> - Circuito Inativo
        </p>
        <p class="lead">
        </p>
      </div>
    </div>

    <div class="col-12 col-md-12">
        <div class="card">
          <div class="view overlay hm-white-slight">
            <!-- <object id="enrolamento-ondulado" class="img-fluid" type="image/svg+xml"
            data="assets/svg/ondulado-final.svg">Enrolamento Ondulado</object>
            <object id="enrolamento-imbricado" type="image/svg+xml"
                data="assets/svg/imbricado-final.svg"></object> -->
          </div>
          <div class="card-body">
            <h4 class="card-title"><strong>Enrolamento Imbricado</strong></h4>
            <p class="card-text">Insert a text here 2.</p>
          </div>
        </div>
    </div>
  </div>
</div>
