<div class="container-fluid">
  <div class="row">
      <div class="col-12">
        <h1>Máquina de Corrente Continua</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="view overlay hm-white-slight">
            <svg class="graph01" id="graph01"></svg>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong>Enrolamento Ondulado</strong></h4>
          <p class="card-text">Insert a text here 1.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="view overlay hm-white-slight">
            <object id="enrolamento-ondulado" class="img-fluid" type="image/svg+xml"
            data="assets/svg/ondulado-final.svg">Enrolamento Ondulado</object>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong>Enrolamento Ondulado</strong></h4>
          <p class="card-text">Insert a text here 1.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12">
        <div class="card">
          <div class="view overlay hm-white-slight">
            <object id="enrolamento-imbricado" type="image/svg+xml"
                data="assets/svg/imbricado-final.svg"></object>
          </div>
          <div class="card-body">
            <h4 class="card-title"><strong>Enrolamento Imbricado</strong></h4>
            <p class="card-text">Insert a text here 2.</p>
          </div>
        </div>
    </div>
  </div>
</div>
