/* Footer content */

svg{
  background-color: #eee;
  height: 370px;
  width: 580px;
}

.graph01{
  .enr{
    stroke: black;
    opacity: 0.6;
    stroke-width: 1.5;
  }
  .enr1{
    stroke-linecap: round;
  }

  .enr2{
    stroke-linecap: round;
    stroke-dasharray: 5 4;
  }

  .nucleo1, .nucleo3{
    fill: #ffa1a7;
    stroke: #000000;
    stroke-width: 1.01;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
  }

  .nucleo2, .nucleo4{
    fill: #b1a9ff;
    stroke: #000000;
    stroke-width: 1.01300001;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
  }

  .escova-p, .escova-n, .p, .n{
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
  }
  .escova-p{
    fill: #ffa1a7;
  }
  .escova-n{
    fill: #b1a9ff;
  }

  .barramento{
    fill: #66aaff;
    stroke: #0033ff;
    stroke-width: 1.5;
  }

  .red{
    stroke: red;
  }
  .blue{
    stroke: blue;
  }

  .group{
    fill-opacity:0;
    stroke-opacity:0;
    stroke-width: 5;
  }
  .group:hover{
    fill-opacity:1;
    stroke-opacity:1;
    stroke-width: 2;
  }
}
