<header class="page-header">
  <div class="card card-body">
      <div class="flex-row">
        <nav class="navbar navbar-expand-lg navbar-dark indigo">
          <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/maquina-corrente-continua">Maquina Corrente Continua<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/maquina-inducao">Maquina Inducao</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/maquina-sincrona">Maquina Sincrona</a>
                </li>
              </ul>
            </div>
        </nav>
      </div>
  </div>
</header>

<router-outlet></router-outlet>
<footer class="page-footer blue center-on-small-only">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <h5 class="title">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
        © 2015 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
      </div>
</footer>
