<header class="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark indigo">
      <a class="navbar-brand" routerLink="/home">Home</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link"
                    routerLink="/maquina-corrente-continua"
                    (click)="isCollapsed = !isCollapsed">Maquina Corrente Continua<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link"
                    routerLink="/maquina-inducao"
                    (click)="isCollapsed = !isCollapsed">Maquina Inducao</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link"
                    routerLink="/maquina-sincrona"
                    (click)="isCollapsed = !isCollapsed">Maquina Sincrona</a>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <main class="mt-6">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
<footer class="page-footer blue center-on-small-only">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <h5 class="title">Máquinas Elétricas</h5>
          <p>Projeto de auxílio didático para disciplina de ET620, UNICAMP.</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
        © 2017 Copyright: <a href="https://www.cruvis.com.br"> Cruvis.com.br </a>
    </div>
      </div>
</footer>
