<div class="container-fluid">
  <div class="row">
      <div class="col">
        <h1>Maquina de Indução</h1>
        <p>
          <!-- Baseado nos dados de maquina do livro do P.C.Sen terceira edição, exercício 5.2, montamos dois exemplos de gráficos dinâmicos. -->
          Baseado nos dados de maquina do livro do P.C.Sen terceira edição, exercício 5.2.
          Com isso, é possível estimar os torques com variação de Tensão e R'2.
        </p>
        <nvd3 [options]="options" [data]="data"></nvd3>
      </div>
    </div>
</div>
