<div class="container-fluid">
  <div class="row">
    <div class="col" style="padding-top: 30px;">
      <h3>Eletric Machine Learning Project</h3>
    </div>
   </div>
  <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
            <div class="view overlay hm-white-slight">
                <img src="assets/logo/unicamp-logo.jpg" alt="Logo da Unicamp">
            </div>
            <div class="card-body">
                <p>
                  <strong>Aluno:</strong> Rafael Gonsalves Cruvinel<br>
                  <strong>Professor:</strong> Matheus Giesbrecht<br>
                </p>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
            <div class="view overlay hm-white-slight">
                <img src="assets/logo//feec-logo.gif" alt="Logo da Feec" class="img-fluid">
            </div>
            <div class="card-body">
              <h4 class="card-title">Faculdade de Engenharia Elétrica e de Computação da Unicamp</h4>
              <p class="card-text"></p>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br />
    </div>
  </div>
</div>
