<div class="container-fluid">
  <div class="row">
    <div class="col" style="padding-top: 30px;">
      <h3>Eletric Machine Learning Project</h3>
    </div>
    <div class="col-12">
      <div class="img">
        <img src="assets/logo/unicamp-logo.jpg" alt="Logo da Unicamp" width="150px">
        <img src="assets/logo//feec-logo.gif" alt="Logo da Feec" width="150px">
      </div>
      <p>
        <strong>Aluno:</strong> Rafael Gonsalves Cruvinel<br>
        <strong>Professor:</strong> Matheus Giesbrecht<br>
      </p>
    </div>
  </div>
</div>
